/* Fuente y reset básico */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #f9f9f9;
  color: #333;
}


/* Contenedor principal: mapa + panel */
#contenedor {
  display: flex;
  flex-direction: row;
  height: 90vh; /* ocupa el 90% de la altura de la ventana */
}

/* Estilo del mapa */
#map {
  flex: 2;
  height: 100%;
  border-right: 0.4% solid #004d40;
}

/* Panel de información */
#infoPanel {
  flex: 1;
  padding: 2%;
  background: #e0f2f1;
  overflow-y: auto;
}

#infoPanel h2 {
  margin-top: 0;
  color: #004d40;
  font-size: 1.5vw;
}

#foto {
  margin-top: 5%;
  text-align: center;
}

#foto img {
  max-width: 90%;
  border-radius: 5%;
  box-shadow: 0 2% 4% rgba(0,0,0,0.3);
}
