/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e2e2d6;
}

/* Encabezado */
header {
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
     z-index: 10; /* más alto que la imagen */
}

header .logo img {
    width: 50px;
    height: auto;
    margin-right: 15px;
}

header h1 {
    margin: 0;
}

/* Barra de navegación */
nav {
    background-color: #0056b3; /* Azul */
    position: relative;
    z-index: 10; /* igual que header */
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.menu-item {
    position: relative;
}

.menu-item a,
.menu-item {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    background-color: #0056b3;
    border: 1px solid #ccc;
}

.menu-item:hover {
    background-color: #00408a;
}

/* Submenú */
.submenu {
    display: none;
    list-style-type: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #0056b3;
    padding: 0;
    z-index: 20; /* más alto que todo */
}

.submenu li a {
    padding: 8px;
    background-color: #0056b3;
    color: white;
    border: 1px solid #ccc;
    z-index: 20; /* más alto que todo */
}

.submenu li a:hover {
    background-color: #00408a;
    z-index: 20; /* más alto que todo */
}

/* Mostrar submenú */
.menu-item:hover .submenu {
    display: block;
}

/* Imagen principal */
.hero {
    position: relative;
    height: 500px; /* Más alta */
    background-image: url('fondo.jpg'); /* Cambia a tu imagen */
    background-size: cover;
    background-position: center;
    z-index: 0; /* más alto que todo */
}

.hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3); /* oscurecer imagen */
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero h2 {
    color: white;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
