body {
    margin: 0;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin: 10px 0;
}

#contenedor {
    display: flex;
    height: 600px;
}

#map {
    flex: 3;
}

#infoPanel {
    flex: 1;
    background: #f9f9f9;
    border-left: 2px solid #ccc;
    padding: 10px;
    overflow-y: auto;
}

#infoPanel img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}